.contain {

    float: left;

}

#hProduct {
    text-align: center;
}

#price {
    color: rgb(102, 102, 102);
}


.Card {

    width: 250px;
    height: 320px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin:5px 30px;
}

img {
    width: 250px;
    height: 180px;
}

#btnCard {

    background-color: rgb(103, 103, 158);
    border: none;
    border-radius: 3px;
    font-size: 14px;
    padding: 5px 40px;
}